// Papercraft glyph styles

.outline, .outline * { outline: 1px solid pink; }
.paper-container {
  margin: -1em;
}
.paper-scale { font-size: 1em; }
@media (min-width: 48em) {
  .paper-scale { font-size: 1.25em; }
}
@media (min-width: 64em) {
  .paper-scale { font-size: 1.5em; }
}
@media (min-width: 80em) {
  .paper-scale { font-size: 2em; }
}
@media (min-width: 96em) {
  .paper-scale { font-size: 2.5em; }
}

.papercraft {
  padding: 1em;
  width: 2em;
  height: 2em;
  transition-property: height, width;
  transition-duration: .5s;
  transition-timing-function: ease;
}
.papercraft-wide {
  width: 2.5em;
  padding: 1em .75em;
}
.papercraft-tall {
  height: 2.5em;
  padding: 1em 1em .5em 1em;
}

